misc/
.vscode/
*/cache
*/*.feather
*/*.zip
ideas.md
day9_hexagons/with_z.geojson
day2_lines/Download_onshore_250k_faults
day3_polygons/VHS*
day20_outdoors/gdal/*
day20_outdoors/*.geojson
day20_outdoors/*.tif
